@import "tailwindcss";
html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

:root {
  font-family: "Pixelify Sans", sans-serif !important;
}

button {
  @apply border-b-2 border-black;
}

@theme {
  --color-bg: #323a3a;
  --color-primary: #d3b652;
  --color-bg-side: #1d2628;
  --color-accent: #e87d3e;
}
